---
layout: default
title: Project Wilberforce Webpage
---

<h2>Products</h2>
<div style="text-align: center;">
  <div class="product" style="display: inline-block; width:170px;" >
      <a href="vaomanual"><img src="images/vao_icon.png"></a><a href="vaomanual"><div>Volumetric Ambient Occlusion Unity&nbsp;Plugin</div></a>
  </div>
  <div class="product" style="display: inline-block; width:170px;" >
      <a href="cameralens/manual"><img src="images/lens_icon.png"></a><a href="cameralens/manual"><div>Camera Lens Effects Unity&nbsp;Plugin</div></a>
  </div>
  <div class="product" style="display: inline-block; width:170px;" >
    <a href="colorbleed"><img src="images/cb_icon.png"></a><a href="colorbleed"><div>Colorbleed Unity Plugin</div></a>
  </div>
  <div class="product" style="display: inline-block; width:170px;" >
    <a href="wireframe"><img src="images/wireframe_icon.png"></a><a href="wireframe"><div>Wireframe Shader Unity Plugin</div></a>
  </div>
  <div class="product" style="display: inline-block; width:170px;" >
    <a href="finalvignette/manual"><img src="images/icon_vignette.png"></a><a href="finalvignette/manual"><div>Final Vignette Unity Plugin</div></a>
  </div>
  <div class="product" style="display: inline-block; width:170px;" >
    <a href="colorblind"><img src="images/colorblind_icon.png"></a><a href="colorblind"><div>Colorblind Effect Unity Plugin</div></a>
  </div>
</div>
<h2>Publications</h2>
<div style="text-align: left;">
  <div class="publication" style="height: 140px;" >
    <a href="vaopaper"><img src="images/icon_vao_paper.png" style="float:left;"></a>
    <div style="padding-top: 30px;">
      <span>
        <a href="vaopaper" style="font-size: 115%;">VAO++: Practical Volumetric Ambient Occlusion for Games</a> (<b><a href="vaopaper/VAOPlusPlus.pdf">PDF</a></b>)<br/>
        <em>Preprint for Eurographics Symposium on Rendering - Experimental Ideas & Implementation (2017)</em>
      </span>
    </div>
  </div>
</div>
<h2>Blog</h2>
{% for page in site.posts %}
    <article>
      <header>
        <h2><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
        <p>
            {% if page.author %}
                {{ page.author }}
            {% endif %}

            {% if page.date %}
                <time datetime="{{ page.date | date_to_xmlschema }}">
                    <em>{{ page.date | date: "%b %-d, %Y" }}</em>
                </time>
            {% endif %}

          </p>
      </header>
      <div>
{{ page.excerpt }}
      </div>
    </article>
{% endfor %}
